#loading,
.banner {
    justify-content: center;
    display: flex
}

#loading,
.banner,
nav ul {
    display: flex
}

body,
html,
nav ul {
    margin: 0;
    padding: 0
}

.hero h1,
.hero p {
    margin-bottom: 20px
}

.button-compra,
.button-comprafinal {
    text-transform: uppercase;
    font-weight: 800
}

#loading,
footer svg {
    left: 0;
    height: 100%
}

.button-compra,
.button-comprafinal,
body,
footer p,
html {
    font-family: Teachers, sans-serif
}

#loading {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 9999;
    align-items: center
}

.loader {
    border: 16px solid transparent;
    background: url('/images/desinflamaicon.png') center center/contain no-repeat;
    width: 120px;
    height: 120px;
    animation: 1s infinite bounce
}

.hero,
body,
html {
    background-color: #fff
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    60% {
        transform: translateY(-15px)
    }
}

body,
html {
    overflow-x: hidden;
    touch-action: manipulation;
    width: 100%
}

button:hover {
    cursor: pointer;
    background-color: #a8dbb9
}

.titlec h2:hover {
    opacity: .7;
    color: #010f09;
    cursor: pointer
}

.depoimento p:hover {
    opacity: .7;
    color: #648b73
}

img:hover {
    opacity: .7
}

nav ul li a:hover {
    opacity: .7;
    color: #a4e4a4
}

header {
    color: #333;
    padding: 20px 0;
    margin-top: -20px
}

.image-wrapper {
    text-align: right;
    margin-bottom: 100px;
    z-index: 2
}

.image-laranja {
    position: absolute;
    width: 350px;
    height: auto;
    margin-top: -110px;
    right: 200px
}

.banner {
    width: 100%;
    height: 390px;
    overflow: visible
}

.banner img {
    width: 70%;
    height: auto;
    object-fit: fill
}

.depoimento-ativo,
a {
    display: block
}

nav {
    background-color: #1a3f13;
    height: 50px;
    color: #fff
}

nav ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px
}

nav ul li {
    display: inline-block;
    margin: 5px 5px 0;
    font-size: 2rem
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700
}

.hero {
    padding: 10px 0;
    text-align: center
}

.hero h1 {
    font-size: 3.33rem;
    font-weight: 800;
    color: #1a3f13
}

.hero p {
    font-size: 2.13rem;
    font-weight: 400
}

.btn-inscricao {
    background-color: #4a8377;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none
}

.beneficio,
.beneficio img {
    background-color: transparent
}

.btn-inscricao:hover {
    background-color: #ad86ce;
    color: #333
}

.listabonus {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
    line-height: 30px
}

.listabonus img {
    justify-content: center;
    text-align: center;
    margin: -5px 10px;
    justify-content: space-around;
    flex-wrap: wrap
}

.secao-bonus h2 {
    border: 5px double #809e6c;
    font-size: 2.67rem
}

.beneficio,
.secao-beneficios {
    border-radius: 5px;
    display: flex
}

.sc-hero {
    margin-top: 0
}

.secao-beneficios {
    margin: 100px auto 20px;
    width: 90%;
    height: 700px;
    padding: 35px
}

.beneficio {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    width: 40%
}

.beneficio img {
    margin: -95px -550px 50px 50px;
    max-width: 555px
}

.beneficio p {
    font-size: 20px;
    line-height: 1.7;
    color: #78857b;
    text-align: justify;
    margin: -70px 0 10px;
    width: 50%
}

.sc-programa {
    background-color: #809e6c;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 320px;
    margin-top: -1px
}

.waves {
    margin-bottom: -1px;
    display: flex;
    z-index: 2;
    margin-top: -290px
}

.secao-programa h2 {
    padding-top: 5px;
    font-size: 28px;
    color: #fcf9f4;
    text-shadow: -11px 3px 16px #000;
    margin: 0 0 50px 50px;
    text-align: center
}

.secao-programa ul {
    list-style: none;
    padding: 0;
    margin: -45px 0 20px
}

.secao-programa ul li {
    font-size: 22px;
    margin-bottom: 5px;
    vertical-align: middle;
    margin-top: 16px;
    text-align: justify;
    color: #fff
}

.secbeneficios {
    display: flex;
    flex-direction: column;
    margin: 20px 600px 0;
    width: 50%;
    padding: 10px
}

.bonus-exclusivos,
.secao-bonus {
    padding: 20px;
    border-radius: 5px
}

.button-compra {
    background-color: #648b73;
    border-radius: 9px;
    border: #020500;
    width: 295px;
    height: 80px;
    color: #fff;
    font-size: 25px;
    margin: -350px 100px 100px -450px;
    box-shadow: rgba(177, 212, 198, .25) 0 30px 60px -12px inset, rgba(224, 12, 12, .3) 0 18px 36px -18px inset
}

.btn i {
    margin-left: 10px
}

.bonus-exclusivos {
    display: flex;
    justify-content: center;
    background-color: #fefeff8f;
    max-width: 1000px;
    width: 90%;
    margin: 20px auto
}

.secao-garantia {
    display: flex;
    justify-content: center;
    background-color: #1b3f12;
    padding: 20px;
    width: 1000;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

.secao-bonus,
.secao-depoimentos {
    margin: 20px auto;
    background-color: #fff;
    display: flex
}

.listagarantia h2 {
    list-style-type: none;
    color: #edf0ed;
    text-align: center;
    text-transform: uppercase;
    font-family: Quicksand, sans-serif;
    font-optical-sizing: auto;
    font-size: 28px
}

.listagarantia strong {
    color: #c2c470
}

.mentoria li {
    width: 180px;
    text-align: justify
}

footer .wave-container,
footer svg {
    position: absolute;
    width: 100%;
    z-index: 2
}

.bonus-exclusivos h3 {
    align-self: center;
    align-items: center
}

.bonus-exclusivos ul {
    display: flex;
    list-style-type: none;
    padding: 0
}

.secao-bonus {
    align-items: center;
    max-width: 1000px;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    border: 5px dashed #78857b
}

.secao-bonus li {
    flex-direction: column-reverse;
    list-style-type: none;
    text-overflow: ellipsis;
    font-size: 17px
}

.secao-bonus li img {
    justify-content: space-around;
    margin-top: 1px
}

.secao-depoimentos {
    align-items: center;
    width: 80%;
    height: 450px;
    box-shadow: 10px #6abd45
}

.secao-depoimentos h2 {
    position: absolute;
    font-size: 24px;
    color: #1b3f12;
    text-shadow: -11px 3px 16px #3d923d;
    margin: -230px 0 300px 10px;
    text-align: center
}

.depoimento {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #8cb996;
    border-radius: 0;
    margin: 27px 5px;
    background-color: transparent
}

.depoimento p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: start;
    color: #78857b
}

.secao-depoimentos button {
    padding: 150px 15px;
    background-image: url('/images/seta.png');
    background-color: transparent;
    color: #080707;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center
}

.secao-depoimentos button i {
    margin-left: 5px
}

.depoimento cite {
    font-style: italic;
    text-transform: initial;
    font-size: 15px;
    margin-top: 10px
}

.depoimentos-inativos {
    display: none
}

.navegacao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.navegacao button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #bbb
}

.navegacao button.desativado {
    opacity: .5;
    cursor: default
}

.button-comprafinal {
    background-color: #648b73;
    border-radius: 5px;
    border: #020500;
    width: 300px;
    height: 70px;
    color: #fff;
    font-size: 25px;
    box-shadow: rgba(177, 212, 198, .25) 0 30px 60px -12px inset, rgba(224, 12, 12, .3) 0 18px 36px -18px inset
}

.linha-promocao {
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px
}

.secao-precos {
    display: flex;
    flex-direction: column;
    margin: 50px auto 20px;
    max-width: 1000px;
    font-size: 2.67rem;
    border-radius: 5px;
    padding: 0 20px
}

.pacote,
.secao-precos h2 {
    margin-bottom: 20px;
    font-size: 2.27rem;
    text-align: center
}

.secao-precos h2 {
    box-shadow: #295e34 0 0 0 2px inset, #fff 10px -10px 0 -3px, #59866a 10px -10px, #fff 20px -20px 0 -3px, #517560 20px -20px, #fff 30px -30px 0 -3px;
    color: #809e6c
}

.pacote {
    background-color: #fff;
    padding: 20px;
    border: 5px dashed #78857b
}

.secao-precos h3 {
    color: #809e6c;
    font-size: 3.33rem;
    margin-bottom: 10px
}

.secao-precos p {
    font-size: 3.6rem;
    font-weight: 700;
    color: #90c21d
}

.secao-precos ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.secao-precos ul li {
    font-size: 1.33rem;
    margin-bottom: 5px;
    color: #000
}

footer {
    position: relative;
    height: 320px;
    overflow: hidden
}

footer .wave-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent
}

footer p {
    color: #000;
    font-size: 1rem;
    pointer-events: all;
    text-align: center;
    margin: 0
}

@media (max-width:390px) {

    body,
    html,
    nav ul {
        margin: 0;
        padding: 0
    }

    body,
    html {
        font-family: Teachers, sans-serif;
        background-color: #fff;
        overflow-x: hidden;
        touch-action: manipulation;
        width: 100%
    }

    .depoimento,
    .linha-promocao,
    .promocao {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none
    }

    .hero h1 {
        font-size: 1.5rem
    }

    .hero p {
        font-size: 20px;
        padding: 10px
    }

    nav {
        background-color: #1a3f13;
        color: #fff;
        width: 100%;
        margin-top: -190px
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap
    }

    nav ul li {
        font-size: 14px;
        margin: 15px 0
    }

    .banner img {
        width: 100%;
        height: 200px;
        object-fit: fill
    }

    .secao-beneficios {
        padding: 5px;
        height: 550px
    }

    .beneficio img {
        margin: 10px 0;
        max-width: 100%
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px
    }

    .secao-programa h2 {
        font-size: 23px
    }

    .sc-programa {
        width: 100%;
        height: 470px;
        margin-top: 1
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 20px
    }

    .secbeneficios {
        margin: 5px;
        width: 90%
    }

    .secbeneficios img {
        margin-bottom: -3px
    }

    .button-compra {
        height: 50px;
        font-size: 24px;
        margin: 20px auto 20px 0;
        box-shadow: rgba(177, 212, 198, .25) 0 15px 30px -6px inset, rgba(224, 12, 12, .3) 0 9px 18px -9px inset
    }

    .button-comprafinal {
        width: 100%;
        margin: 10px 0
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin-top: -100px
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 120px
    }

    .secao-depoimentos h2 {
        font-size: 20px;
        margin-top: -120px;
        text-align: left;
        margin-left: 20px
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }

    .depoimento p {
        font-size: .9rem
    }

    .secao-bonus {
        text-align: center;
        width: 79%
    }

    .secao-bonus h2 {
        font-size: 32px
    }

    .pacote h3 {
        font-size: 45px
    }

    .secao-precos h2 {
        margin-right: 10px
    }

    .pacote p {
        font-size: 49px
    }
}

@media (min-width:375px) and (max-width:430px) {

    .depoimento,
    .linha-promocao,
    .promocao {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none
    }

    .hero h1 {
        font-size: 1.5rem
    }

    .hero p {
        font-size: 20px;
        padding: 10px
    }

    nav {
        background-color: #1a3f13;
        color: #fff;
        width: 100%;
        margin-top: -190px
    }

    nav ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        flex-wrap: wrap
    }

    nav ul li {
        font-size: 18px;
        margin: 15px 0
    }

    .banner img {
        width: 100%;
        height: 200px;
        object-fit: fill
    }

    .secao-beneficios {
        padding: 5px;
        height: 550px
    }

    .beneficio img {
        margin: 10px 0;
        max-width: 100%
    }

    .beneficio p {
        width: 100%;
        margin: -100px 0 10px;
        font-size: 15px
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px
    }

    .secao-programa h2 {
        font-size: 23px;
        margin-left: 10px
    }

    .sc-programa {
        width: 100%;
        height: 470px;
        margin-top: 1
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 20px
    }

    .secbeneficios {
        margin: 5px;
        width: 90%
    }

    .secbeneficios img {
        margin-bottom: -3px
    }

    .button-compra,
    .button-comprafinal {
        width: 100%;
        margin: 10px 0
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: -10px;
        padding: 10px;
        margin-top: -100px;
        gap: 10px
    }

    .listagarantia h2 {
        text-align: center;
        font-size: 18px
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 120px
    }

    .secao-depoimentos h2 {
        font-size: 20px;
        margin-top: -120px;
        text-align: left;
        margin-left: 20px
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }

    .depoimento p {
        font-size: .9rem
    }

    .secao-bonus {
        text-align: center;
        width: 79%
    }

    .secao-bonus h2 {
        font-size: 32px
    }

    .pacote h3 {
        font-size: 45px
    }

    .secao-precos h2 {
        margin-right: 10px
    }

    .pacote p {
        font-size: 49px
    }
}

@media (min-width:600px) and (max-width:1024px) {

    body,
    html {
        overflow-x: auto;
        touch-action: auto
    }

    .depoimento,
    .linha-promocao,
    .promocao {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none
    }

    .hero h1,
    .pacote p,
    .secao-bonus h2,
    .secao-programa h2 {
        font-size: 2rem
    }

    .hero p {
        font-size: 1.5rem;
        padding: 20px
    }

    nav {
        background-color: #1a3f13;
        color: #fff;
        width: 100%
    }

    nav ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        flex-wrap: wrap
    }

    nav ul li {
        font-size: 27px;
        margin: 15px 0
    }

    .banner img {
        width: 100%;
        height: auto;
        object-fit: fill
    }

    .secao-beneficios {
        padding: 20px;
        height: auto
    }

    .beneficio img {
        margin: 20px 0;
        max-width: 100%
    }

    .beneficio p {
        width: 100%;
        margin: 20px 0;
        font-size: 2rem
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px
    }

    .sc-programa {
        width: 100%;
        height: auto;
        margin-top: 1
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 1.5rem
    }

    .secbeneficios {
        margin: 10px;
        width: 90%
    }

    .secbeneficios img {
        margin-bottom: -3px
    }

    .button-compra,
    .button-comprafinal {
        width: 100%;
        margin: 10px 0
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 20px
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px
    }

    .secao-depoimentos h2 {
        font-size: 1.5rem;
        margin-top: -10px;
        text-align: center
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }

    .depoimento p {
        font-size: 1rem
    }

    .secao-bonus {
        text-align: center;
        width: 100%
    }

    .pacote h3 {
        font-size: 2.5rem
    }

    .secao-precos h2 {
        margin-right: 10px
    }
}