/* Estilo para o contêiner de carregamento */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    /* Cor de fundo durante o carregamento */
    z-index: 9999;
    /* Certifique-se de que o carregamento está na frente de todos os outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o ícone de carregamento */
.loader {
    border: 16px solid transparent;
    /* Cor do anel */
    /* Cor da barra superior */
    background: url('/images/desinflamaicon.png') no-repeat center center;

    width: 120px;
    height: 120px;
    width: 120px;
    height: 120px;
    background-size: contain;
    animation: bounce 1s infinite;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

/* Estilos gerais */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Teachers", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    touch-action: manipulation;
    width: 100%;
}

header {
    color: #333;
    padding: 20px 0;
    margin-top: -20px;
}

.image-wrapper {
    text-align: right;
    margin-bottom: 100px;
    z-index: 2;
}

.image-laranja {
    position: absolute;
    width: 350px;
    height: auto;
    margin-top: -110px;
    right: 200px;
}

.banner {
    width: 100%;
    height: 390px;
    overflow: visible;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 70%;
    height: auto;
    object-fit: fill;
}

a {
    display: block;
}

nav {
    background-color: #1A3F13;
    height: 50px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 30px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 2rem;
    margin-top: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3.33rem;
    margin-bottom: 20px;
    font-weight: 800;
    color: #1A3F13;
}

.hero p {
    font-size: 2.13rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.btn-inscricao {
    background-color: #4a8377;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.btn-inscricao:hover {
    background-color: #ad86ce;
    color: #333;
}

.listabonus {
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
    line-height: 30px;
}

.listabonus img {
    justify-content: center;
    text-align: center;
    margin: -5px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secao-bonus h2 {
    border: 5px double #809E6C;
    font-size: 2.67rem;
    padding: -100px;
}

.sc-hero {
    margin-top: 0;
}

.secao-beneficios {
    display: flex;
    margin: 20px auto;
    width: 90%;
    height: 700px;
    border-radius: 5px;
    margin-top: 100px;
    padding: 35px;
}

.beneficio {
    flex: 1 1 calc(50% - 20px);
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.beneficio img {
    margin: 50px 0 50px 50px;
    max-width: 555px;
    background-color: transparent;
    margin-right: -550px;
    margin-top: -95px;
}

.beneficio p {
    font-size: 20px;
    line-height: 1.7;
    color: #78857B;
    text-align: justify;
    margin: 50px 0 10px;
    margin-top: -70px;
    width: 50%;
}

.sc-programa {
    background-color: #809E6C;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 320px;
    margin-top: -1px;
}

.waves {
    margin-bottom: -1px;
    display: flex;
    z-index: 2;
    margin-top: -290px;
}

.secao-programa h2 {
    padding-top: 5px;
    font-size: 28px;
    color: rgb(252, 249, 244);
    text-shadow: -11px 3px 16px rgba(0, 0, 0, 1);
    margin: 0 0 50px 50px;
    text-align: center;
}

.secao-programa ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -45px;
}

.secao-programa ul li {
    font-size: 22px;
    margin-bottom: 5px;
    vertical-align: middle;
    margin-top: 16px;
    text-align: justify;
    color: white;
}

.secbeneficios {
    display: flex;
    flex-direction: column;
    margin: 20px 600px 0;
    width: 50%;
    padding: 10px;
}

.button-compra {
    background-color: #648b73;
    border-radius: 9px;
    border: #020500;
    width: 300px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    margin: 100px;
    margin-top: -350px;
    margin-left: -450px;
    box-shadow: rgba(177, 212, 198, 0.25) 0px 30px 60px -12px inset, rgba(224, 12, 12, 0.3) 0px 18px 36px -18px inset;
}

.btn i {
    margin-left: 10px;
}

.bonus-exclusivos {
    display: flex;
    justify-content: center;
    background-color: #fefeff8f;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
}

.secao-garantia {
    display: flex;
    justify-content: center;
    background-color: #1B3F12;
    padding: 20px;
    width: 1000;
    margin: 20px auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.listagarantia {
    list-style-type: none;
    color: rgb(237, 240, 237);
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
}

.listagarantia strong {
    color: rgb(144, 146, 20);
    text-decoration: underline;
}

.mentoria li {
    width: 180px;
    text-align: justify;
}

.bonus-exclusivos h3 {
    align-self: center;
    align-items: center;
}

.bonus-exclusivos ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.linha-promocao {
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px;
}

.secao-bonus {
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    border: 5px dashed #78857B;
}

.secao-bonus li {
    flex-direction: column-reverse;
    list-style-type: none;
    text-overflow: ellipsis;
    font-size: 17px;
}

.secao-bonus li img {
    justify-content: space-around;
    margin-top: 1px;
}

/* Estilo para a seção de depoimentos */
.secao-depoimentos {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    height: 450px;
    background-color: white;
    box-shadow: 10px #6ABD45;
    margin-top: 20px;
}

.secao-depoimentos h2 {
    position: absolute;
    font-size: 24px;
    color: #1B3F12;
    text-shadow: -11px 3px 16px rgb(61, 146, 61);
    margin: 1px 0px 300px 10px;
    text-align: center;
    margin-top: -230px;
}

.depoimento {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(140, 185, 150);
    border-radius: 0px;
    margin: 27px 5px;
    background-color: transparent;

}

.depoimento p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: start;
    color: #78857B;
}

.secao-depoimentos button {
    padding: 150px 15px;
    background-image: url('/images/seta.png');
    background-color: transparent;
    color: #080707;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.secao-depoimentos button i {
    margin-left: 5px;
}

.depoimento cite {
    font-style: italic;
    text-transform: initial;
    font-size: 15px;
    margin-top: 10px;
}

.depoimento-ativo {
    display: block;
}

.depoimentos-inativos {
    display: none;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navegacao button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.navegacao button {
    background-color: #bbb;
}

.navegacao button.desativado {
    opacity: 0.5;
    cursor: default;
}

.button-comprafinal {
    background-color: #648b73;
    border-radius: 5px;
    border: #020500;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    box-shadow: rgba(177, 212, 198, 0.25) 0px 30px 60px -12px inset, rgba(224, 12, 12, 0.3) 0px 18px 36px -18px inset;
}

#botaocompra:hover {
    background-color: red;
}

.linha-promocao {
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px;
}

.secao-precos {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1000px;
    font-size: 2.67rem;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

.secao-precos h2 {
    box-shadow: rgb(41, 94, 52) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(89, 134, 106) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(81, 117, 96) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.27rem;
    color: #809E6C;
}

.pacote {
    background-color: #ffffff;
    margin-bottom: 20px;

    padding: 20px;
    text-align: center;
    font-size: 2.27rem;
    border: 5px dashed #78857B;
}

.secao-precos h3 {
    color: #809E6C;
    font-size: 3.33rem;
    margin-bottom: 10px;
}

.secao-precos p {
    font-size: 3.6rem;
    font-weight: bold;
    color: #90c21d;
}

.secao-precos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secao-precos ul li {
    font-size: 1.33rem;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}


@media (max-width: 390px) {

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: "Teachers", sans-serif;
        background-color: #ffffff;
        overflow-x: hidden;
        touch-action: manipulation;
        width: 100%;
    }

    .linha-promocao,
    .promocao,
    .depoimento {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 20px;
        padding: 10px;
    }

    nav {
        background-color: #1A3F13;
        color: white;
        width: 100%;
        margin-top: -190px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    nav ul li {
        font-size: 12px;
        margin-top: 15px;
        margin: 15px 0;
    }

    .banner img {
        width: 100%;
        height: 200px;
        object-fit: fill;
    }

    .secao-beneficios {
        padding: 5px;
        height: 550px;
    }

    .beneficio img {
        margin: 10px 0;
        max-width: 100%;
    }

    .beneficio p {
        width: 100%;
        margin: 10px 0;
        font-size: 0.9rem;
        margin-top: -100px;
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px;
    }

    .secao-programa h2 {
        font-size: 23px;
    }

    .sc-programa {
        width: 100%;
        height: 470px;
        margin-top: 1;
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 20px;
    }

    .secbeneficios {
        margin: 5px;
        width: 90%;
    }

    .secbeneficios img {
        margin-bottom: -3px;
    }

    .button-compra {
        width: 100%;
        height: 40px;
        font-size: 14px;
        margin: 20px auto;
        margin-top: 20px;
        margin-left: 0;
        box-shadow: rgba(177, 212, 198, 0.25) 0px 15px 30px -6px inset, rgba(224, 12, 12, 0.3) 0px 9px 18px -9px inset;
    }

    .button-compra {
        width: 100%;
        margin: 10px 0;
        margin-left: 0;
    }

    .button-comprafinal {
        width: 100%;
        margin: 10px 0;
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin-top: -100px;
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 120px;

    }

    .secao-depoimentos h2 {
        font-size: 20px;
        margin-top: -120px;
        text-align: left;
        margin-left: 20px;
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .depoimento p {
        font-size: 0.9rem;
    }

    .secao-bonus {
        text-align: center;
        width: 79%;
    }

    .secao-bonus h2 {
        font-size: 32px;
    }

    .pacote h3 {
        font-size: 45px;
    }

    .secao-precos h2 {
        margin-right: 10px;
    }

    .pacote p {
        font-size: 49px;
    }

}

@media (min-width: 375px) and (max-width: 430px) {
    .linha-promocao,
    .promocao,
    .depoimento {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 20px;
        padding: 10px;
    }

    nav {
        background-color: #1A3F13;
        color: white;
        width: 100%;
        margin-top: -190px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    nav ul li {
        font-size: 12px;
        margin-top: 15px;
        margin: 15px 0;
    }

    .banner img {
        width: 100%;
        height: 200px;
        object-fit: fill;
    }

    .secao-beneficios {
        padding: 5px;
        height: 550px;
    }

    .beneficio img {
        margin: 10px 0;
        max-width: 100%;
    }

    .beneficio p {
        width: 100%;
        margin: 10px 0;
        font-size: 0.9rem;
        margin-top: -100px;
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px;
    }

    .secao-programa h2 {
        font-size: 23px;
    }

    .sc-programa {
        width: 100%;
        height: 470px;
        margin-top: 1;
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 20px;
    }

    .secbeneficios {
        margin: 5px;
        width: 90%;
    }

    .secbeneficios img {
        margin-bottom: -3px;
    }

    .button-compra {
        width: 100%;
        height: 40px;
        font-size: 14px;
        margin: 20px auto;
        margin-top: 20px;
        margin-left: 0;
        box-shadow: rgba(177, 212, 198, 0.25) 0px 15px 30px -6px inset, rgba(224, 12, 12, 0.3) 0px 9px 18px -9px inset;
    }

    .button-compra {
        width: 100%;
        margin: 10px 0;
        margin-left: 0;
    }

    .button-comprafinal {
        width: 100%;
        margin: 10px 0;
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin-top: -100px;
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 120px;

    }

    .secao-depoimentos h2 {
        font-size: 20px;
        margin-top: -120px;
        text-align: left;
        margin-left: 20px;
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .depoimento p {
        font-size: 0.9rem;
    }

    .secao-bonus {
        text-align: center;
        width: 79%;
    }

    .secao-bonus h2 {
        font-size: 32px;
    }

    .pacote h3 {
        font-size: 45px;
    }

    .secao-precos h2 {
        margin-right: 10px;
    }

    .pacote p {
        font-size: 49px;
    }
}

/* Permitir zoom em tablets e iPads */
@media (min-width: 600px) and (max-width: 1024px) {
    html,
    body {
        overflow-x: auto;
        touch-action: auto;
    }
    
    .linha-promocao,
    .promocao,
    .depoimento {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.5rem;
        padding: 20px;
    }

    nav {
        background-color: #1A3F13;
        color: white;
        width: 100%;
    }

    nav ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    nav ul li {
        font-size: 20px;
        margin-top: 15px;
        margin: 15px 0;
    }

    .banner img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    .secao-beneficios {
        padding: 20px;
        height: auto;
    }

    .beneficio img {
        margin: 20px 0;
        max-width: 100%;
    }

    .beneficio p {
        width: 100%;
        margin: 20px 0;
        font-size: 1rem;
    }

    .waves {
        margin-bottom: -1px;
        display: flex;
        z-index: 2;
        margin-top: -20px;
    }

    .secao-programa h2 {
        font-size: 2rem;
    }

    .sc-programa {
        width: 100%;
        height: auto;
        margin-top: 1;
    }

    .secbeneficios ul li {
        text-align: justify;
        font-size: 1.5rem;
    }

    .secbeneficios {
        margin: 10px;
        width: 90%;
    }

    .secbeneficios img {
        margin-bottom: -3px;
    }

    .button-compra {
        width: 100%;
        height: 45px;
        font-size: 1rem;
        margin: 20px auto;
        margin-top: 20px;
        margin-left: 0;
        box-shadow: rgba(177, 212, 198, 0.25) 0px 15px 30px -6px inset, rgba(224, 12, 12, 0.3) 0px 9px 18px -9px inset;
    }

    .button-compra {
        width: 100%;
        margin: 10px 0;
        margin-left: 0;
    }

    .button-comprafinal {
        width: 100%;
        margin: 10px 0;
    }

    .secao-bonus {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .secao-garantia {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 20px;
    }

    .secao-depoimentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .secao-depoimentos h2 {
        font-size: 1.5rem;
        margin-top: -10px;
        text-align: center;
    }

    .secao-depoimentos button {
        padding: 10px;
        background-color: transparent;
        color: #080707;
        border: none;
        cursor: pointer;
        justify-content: center;
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .depoimento p {
        font-size: 1rem;
    }

    .secao-bonus {
        text-align: center;
        width: 100%;
    }

    .secao-bonus h2 {
        font-size: 2rem;
    }

    .pacote h3 {
        font-size: 2.5rem;
    }

    .secao-precos h2 {
        margin-right: 10px;
    }

    .pacote p {
        font-size: 2rem;
    }
}